{{ asset_add('styles.css', block.css.path) }}
{{ asset_add('scripts.js', block.js.path) }}

<div class="{{ block.type.slug }} {{ block.slug }}">

    <h3>{{ page.title }}</h3>

    <div class="inner">
        {{ block.content|raw }}
    </div>

</div>
