{{ asset_add('styles.css', block.css.path) }}
{{ asset_add('scripts.js', block.js.path) }}

<div class="{{ str_slug(block.type.value.slug, '-') }}-type {{ block.slug }}-block">

    {% if block.title %}
        <h3>{{ block.title }}</h3>
    {% endif %}

    <div class="block-content">
        {{ block.content|raw }}
    </div>

</div>
